/* VOTUM Page Transition Plugin v0.1.1 Stylesheet*/

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 705ms linear;
  -moz-transition: -moz-transform 705ms linear;
  -o-transition: -o-transform 705ms linear;
  transition: transform 705ms linear;
}

.slide.out {
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}

.slide.out.reverse {
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
  transform: translate(100%, 0);
}

.slide.new {
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
  transform: translate(100%, 0);
}

.slide.new.reverse {
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}

.slide.new.in {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.slide.new.in.reverse {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}